/* counter for headings */
.counter h1 {counter-reset: kapitola;}
.counter h2 {counter-reset: podkapitola;}
.counter h3 {counter-reset: podpodkapitola;}
.counter h2:before {
    counter-increment: kapitola;
    content: counter(kapitola) " ";
    counter-reset: tabulka;
}
.counter h3:before {
    counter-increment: podkapitola;
    content: counter(kapitola) "." counter(podkapitola) " ";
}
.counter h4:before {
    counter-increment: podpodkapitola;
    content: counter(kapitola) "." counter(podkapitola) "." counter(podpodkapitola) " ";
}
h2.no_toc:before {
    counter-reset: kapitola;
}
h2.no_toc:before,  h3.no_toc:before {
    content: "";
    counter-increment: none;
}
table > caption:before {
    counter-increment: tabulka;
    content: "Tabuľka " counter(kapitola) "." counter(tabulka) ": ";
}

ul, ol {margin-left: 3em;}
