---
layout: default
---

<div class="row">
    <div class="large-8 columns">
        <h1>Novinky</h1>
        {% for post in paginator.posts %}
            <article class="post">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <span class="date"><time datetime="{{ post.date }}" pubdate="pubdate">{{ post.date | date_to_string }}</time></span>
                {{ post.excerpt }}
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li class="arrow">
                {% if paginator.previous_page == 1 %}
                <a href="/" class="previous" title="Predchádzajúca strana">&laquo;</a>
                {% else %}
                <a href="/strana{{ paginator.previous_page }}" class="previous">Predchádzajúca</a>
                {% endif %}
            </li>
            {% endif %}
            {% for i in (1..paginator.total_pages) %}
                {% if i == paginator.page %}
                    <li class="current"><a href="">{{ i }}</a></li>
                {% else %}
                    {% if paginator.previous_page == 1 %}
                        <li><a href="/">{{ i }}</a></li>
                    {% else %}
                        <li><a href="/strana{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
            <li class="arrow"><a href="/strana{{ paginator.next_page }}" class="next" title="Ďalšia strana">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}

    </div>
    <div class="large-4 columns">
        <div class="panel">
            <h2>Nepriehladnite</h2>
            <p><a href="/sprievodca-pre-prvakov/sprievodca-matfyzaka.html">Sprievodca pre prvákov 2013/2014</a> (priebežne sa aktualizuje)</p>
        </div>

        {% include facebook-events.html %}

        {% include partners.html %}
    </div>
</div>
