<div id="facebook" class="row hide-for-small">  
    <div id="f-left" class="large-2 columns">
        <div class="f-name">
            Facebook novinky<br/>
            <a href="https://www.facebook.com/MatfyzJeIn">MatfyzJeIn</a>
        </div>
    </div>
    <div id="f-feed" class="large-9 columns">
        <div class="f-wrapper"></div>
    </div>
    <div id="f-right" class="large-1 columns">
        <div class="f-prev"><span>Predchádzajúce novinky</span></div>
        <div class="f-next"><span>Ďalejšie novinky</span></div>  
    </div>
</div>
