<footer id="footer" class="row">
    <a href="#top" class="back-to-top">hore <i class="foundicon-g-up-arrow"></i></a>
  <div class="large-6 columns">
      <div>&copy; Študentská komora Akademického senátu FMFI UK, 2013.</div>
      <ul id="contacts">
        <li><a href="http://skas.fmph.uniba.sk" class="foundicon-g-website">skas.fmph.uniba.sk</a></li>
        <li><a href="https://www.facebook.com/MatfyzJeIn" class="foundicon-s-facebook">www.facebook.com/MatfyzJeIn</a></li>
        <li><a href="mailto:skas@skas.fmph.uniba.sk" class="foundicon-g-mail">skas@skas.fmph.uniba.sk</a></li>
      </ul>

  </div>
  <div class="large-6 columns">
      <nav class="bottom-bar">
      <ul>
          <li><a href="/">Domov</a></li>
          <li><a href="/o-nas.html">O nás</a></li>
          <li><a href="/sprievodca-pre-prvakov/sprievodca-matfyzaka.html">Sprievodca pre prvákov</a></li>
      </ul>
      </nav>
  </div>
</footer>

