<h2>Spriatelené weby</h2>
<ul class="partners">
    <li><a href="http://anketa.fmph.uniba.sk">Študentská anketa</a></li>
    <li><a href="http://candle.fmph.uniba.sk">Candle (Rozvrhy FMFI)</a></li>
    <li><a href="https://votr.uniba.sk">Votr (lepší AIS)</a></li>
    <li><a href="http://svt.fmph.uniba.sk">Študentský vývojový tím</a></li>
    <li><a href="http://blog.matfyz.sk"><img src="http://blog.matfyz.sk/css/logo_blog_matfyz_sk_andale.jpg" alt="logo blog.matfyz.sk" width="150"/></a></li>
    <li><a href="http://trojsten.sk">Trojsten</a></li>
    <li><a href="http://zipomat.matfyz.sk">ŽiPoMat</a></li>
</ul>

