<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} | ŠKAS FMFI UK{% else %}{{ site.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="alternate" href="/rss.xml" type="application/rss+xml">
        
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/foundicons.css">
        <link rel="stylesheet" href="/css/custom.css">

        <script src="/js/vendor/custom.modernizr.js"></script>

    </head>
    <body>
        <a href="#hlavny-obsah" id="skip-to-main-content">Preskoč na hlavný obsah</a>

        {% include header.html %}

        <section role="main" id="hlavny-obsah">
            {{ content }}
        </section>

        {% include facebook-wall.html %}

        {% include footer.html %}

        <script>
          document.write('<script src=/' +
          ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
          '.js><\/script>')
        </script>
        <script src="/js/foundation/foundation.js"></script>
        <script src="/js/foundation/foundation.dropdown.js"></script>
        <script src="/js/foundation/foundation.topbar.js"></script>
        <script>
             $(document).foundation();
        </script>
        <script src="/js/facebook.js"></script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/sk_SK/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script type="text/javascript">
            window.___gcfg = {lang: 'sk'};
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        {% include piwik-analytics.html %}
    </body>
</html>
